body{
	background-image: url(../images/small_steps.png);
}

#gif-view{
	font-weight: bold;
}

#add{
	font-weight: bold;
}

.gifs{
	display: inline-block;
}

.images{
	width: 350px;
	height: 300px;
	margin-top: 30px;
	margin-right: 30px;
	display: block;
}

.ratings{
	font-weight: bold;
	background-color: white;
	display: inline-block;
	position: relative;
}

.category{
	margin: 5px;
}

#gif-form{
	margin-top: 10px;
}

#add-gif{
	margin-top: 10px;
	position: relative;
	right: 15px;
}

#gif-input{
	margin-top: 10px;
}

#gifs{
	margin: 10px 0px 10px 0px;
}